<header>
  <nav>
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
  </nav>
</header>
<div id="booking-container">
  <h1>Booking page</h1>
  <form action="/booking" method="post">

    <h2>Select service</h2>

    <label>
      Haircut - $60
      <input type="checkbox" name="service" value="Haircut+60" />
    </label>
    <br />
    <label>
      Beard - $45
      <input type="checkbox" name="service" value="Beard+45" />
    </label>
    <br />
    <label>
      Haircut and Beard - $90
      <input type="checkbox" name="service" value="Haircut&Beard+90" />
    </label>
    <br />
    <label>
      Haircut and Color $120
      <input type="checkbox" name="service" value="Haircut&Color+120" />
    </label>
    <br />
    <label>
      Color - $75
      <input type="checkbox" name="service" value="Color+75" />
    </label>

    <br />

    <h2>Select day and time</h2>

    <label>Select day:
      <input type="date" name="date" />
    </label>
    <br />
    <label>Select time:
      <input
        type="time"
        name="time"
        value="09:00:00"
        min="09:00:00"
        max="19:00:00"
      />
    </label>
    <br />
    
    <h2>Contact</h2>

    <label>Phone number:
      <input type="number" name="contact" />
    </label>
  
    <h2>Message</h2>

    <label>
      <textarea name="message" rows="4" cols="30">

      </textarea>
    </label>
    <br />
    <br />
    <input type="submit" value="Request booking" />

  </form>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</div>