
<div id="login-container">
  
  <form action="/login" method="POST" id="login">
    <h2>Login</h2>
    <label>
      Email
      <input type="email" name="email" />
    </label>
    <label>
      Password
      <input type="password" name="password" />
    </label>

    <button type="submit">Login</button>
  </form>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</div>


