<header>
  <nav>
    {{#if user}}
      <a href="/profile">Profile</a>
      <a href="/booking">Booking</a>
      <a href="/logout">Logout</a>
    {{else}}
      <a href="/">Home</a>
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
    {{/if}}

  </nav>
</header>
<div>
  <h1>{{title}} 🚀</h1>

  {{#if user}}
    <p>Welcome {{user.username}}!</p>
  {{/if}}

  <button>
    <a href="/booking">Request booking</a>
  </button>

  {{#if bookingConfirmation}}
    <p>{{bookingConfirmation}} Check your <a href="/profile">profile</a> to see your booking.</p>
  {{/if}}
  
</div>