
<div id="index-container">

  <section id="image-top">
    
    <div>
      <img src="/images/barbershop-image.jpg" alt="home-image">
    </div>

  </section>

  <section id="services-list">

    <table>
      <tr>
        <thead>
          <h3>Service & Price </h3>
        </thead>
      </tr>
      <tr>
        <td>Haircut</td>
        <td>$60</td>
      </tr>
      <tr>
        <td>Beard</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Haircut & Beard</td>
        <td>$90</td>
      </tr>
      <tr>
        <td>Haircut & Color</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Color</td>
        <td>$75</td>
      </tr>
    </table>

    <a href="/booking">Request booking</a>
  </section>
  <br>
  <br>

  {{#if bookingConfirmation}}
    <p>{{bookingConfirmation}} 
      Check your <a href="/profile">profile</a> to see your booking.
    </p>
  {{/if}}

</div>

