<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <ul id="navbar-ul">
          {{#if user}}
            <li class="nav-li">
              <a class="nav-li-link" aria-current="page" href="/">Home</a>
            </li>|
            <li class="nav-li">
              <a class="nav-li-link" href="/booking">Booking</a>
            </li>|
            <li class="nav-li">
              <a class="nav-li-link" href="/profile">Profile</a>
            </li>|
            <li class="nav-li">
              <a class="nav-li-link" href="/logout">Logout</a>
            </li>
          {{else}}
            <li class="nav-li">
              <a class="nav-li-link" aria-current="page" href="/">Home</a>
            </li>|
            <li class="nav-li">
              <a class="nav-li-link" href="/login">Login</a>
            </li>|
            <li class="nav-li">
              <a class="nav-li-link" href="/signup">Signup</a>
            </li>
          {{/if}}
        </ul>
      </nav>
    </header>
    {{{body}}}
    <footer>

      <div class="info-box">
        <h4>Address</h4>
        <p>Vestibulum ante ipsum primis in <br> faucibus orci luctus et ultrices posuere <br> cubilia Curae 78500 Litchex </p>
        <h4>Contact</h4>
        <p>+351 856 445 998</p>
      </div>

      <div class="info-box">
        Map location
      </div>

      <div class="info-box">
        <h4>Social Media</h4>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
      </div>

    </footer>
    </div>
    <script src="/js/script.js"></script>
  </body>

</html>