:root{
  font-size: 62,5%;
  
}
* {
  box-sizing: border-box;
}
/************************  GENERAL  *************************/

button {
  padding: 10px 25px ;
  cursor: pointer;
  background-color: #EEE;
  border-radius: 15px;
  border: 1px solid #CCC;
  color: #555;
}
button:hover {
  box-shadow: 0 0 5px #CCC;
  color: #000;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

/*Makes arrows on input number hidden*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/************************  LAYOUT  *************************/

body {
  margin: 0 auto;
  font-size: 1,6%;

  width: 1140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 1px solid red;
}
header {
  height: 50px;
  background-color: rgba(128, 128, 128, 0.1);
  
}
header nav ul {
  display: flex;
  justify-content: flex-end;
}
.nav-li {
  list-style: none;
  
}
.nav-li:hover {
  
  border-bottom: 1px solid #CCC;
  box-shadow: 0 5px 5px #CCC;
}
.nav-li-link {
  padding: 15px 20px;
  
}
footer {

  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.1);
}
footer .info-box {
  
  padding: 15px;
  outline: 1px solid red;
}
/************************  INDEX  *************************/

#index-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#index-body #image-top div {
  height: 20%;
}
#index-body #image-top div img {
  width: 100%;
  object-fit: cover;
}

#services-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 3rem;
  /* outline: 1px solid red; */
}

#services-list table {
  width: 100%;
  border-top: 10px dashed #000;
  border-bottom: 10px dashed #000;
}
#services-list table td {
  font-size: 1.8rem;
  padding: 15px;
}

#services-list button {
  border-radius: 15px;
  background-color: #FFF;
}


/************************  LOGIN  *************************/


#login-container,
#signup-container,
#booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  outline: 1px solid red;
}

#login-container form,
#signup-container form,
#booking-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  border: 1px solid #CCC;
  border-radius: 15px;
}

#login-container form label, 
#signup-container form label,
#booking-container form label {
  margin-bottom: 15px;
  width: 100%;
}

#login-container form input,
#signup-container form input {
  width: 100%;
  height: 30px;
  border: 1px solid #CCC;
  outline: none;
  border-radius: 10px;

}


/************************  BOOKING  *************************/


#booking-container form {
  border: none;

  /* flex-direction: row;
  flex-wrap: wrap; */
}
/* #booking-container #services-container, 
#booking-container #time-container{
  flex: 1;
} */

#booking-container .services-details {
  
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 15px 15px;
}
#booking-container form label {
  margin-bottom: 5px;
}
#booking-container form input {
  outline: none;
}
#booking-container form textarea {
  outline: none;
}
#booking-container #services-container label {
  display: flex;
  justify-content: space-between;

}
#booking-container #time-container input,
#booking-container #contact-container input {
  width: 100%;
  height: 30px;
  border: 1px solid #CCC;
  outline: none;
  border-radius: 10px;
  padding: 5px;
}

#booking-container #message-container textarea {
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 10px;
  padding: 10px;
  resize: none;
} 


/************************  PROFILE  *************************/


#profile-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  
}
#profile-container > h1 {
  align-self: center;
}
.profile-top {
  width: 100%;
  display: flex;
  outline: 1px solid red;
}
.profile-top > div {
  margin-right: 25px;
}

@media(max-width: 768px) {
  header nav ul {
    justify-content: center;
  }
  footer{
    flex-direction: column;
    align-items: center;
  }
}

