:root{
  font-size: 62,5%;
}
* {
  box-sizing: border-box;
}
/************************  GENERAL  *************************/

button{
  padding: 10px 25px ;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}


/************************  LAYOUT  *************************/

body {
  margin: 0 auto;
  font-size: 1,6%;

  width: 1140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  outline: 1px solid red;
}
header {
  height: 50px;
  background-color: rgba(128, 128, 128, 0.1);
  
}
header nav ul {
  display: flex;
  justify-content: flex-end;
}
.nav-li {
  list-style: none;
}
.nav-li-link {
  padding: 15px 20px;
}
footer {
  
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.1);
}
footer .info-box {
  padding: 15px;
  outline: 1px solid red;
}
/************************  INDEX  *************************/

#index-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#index-body #image-top div {
  height: 20%;
}
#index-body #image-top div img {
  width: 100%;
  object-fit: cover;
  
}

#services-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  /* outline: 1px solid red; */
}

#services-list table {
  width: 100%;
  border: 5px dashed #000;
}
#services-list table td {
  font-size: 1.8rem;
  padding: 15px;
}




@media(max-width: 768px) {
  
  
}