@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root{
  font-size: 62,5%;  

}
* {
  box-sizing: border-box;
}
/************************  GENERAL  *************************/

button {
  padding: 10px 25px ;
  cursor: pointer;
  background-color: #DDD;
  border-radius: 15px;
  border: 1px solid #CCC;
  color: #555;
}
button:hover {
  
  border: 1px solid #D96E1C;
  background-color: #333;
  color: #D96E1C;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #555;
}
a:hover {
  color: #DDD;
}

/*Makes arrows on input number hidden*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/************************  LAYOUT  *************************/

body {
  margin: 0 auto;
  font-size: 1,6%;
  font-family: 'Oswald', sans-serif;
  width: 1140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #DDD;
  
}
header {
  height: 50px;
  background-color: #333;
  color: #D96E1C;
}
header nav ul {
  display: flex;
  justify-content: flex-end;
}
.nav-li {
  list-style: none;
}
 

/* #index.container #services-list a:hover {
  border-bottom: none;
  box-shadow: none;
} */
.nav-li-link {
  padding: 15px 20px;
  color: #D96E1C;
}
.nav-li-link:hover {
  color: #DDD;
}
footer {
  color: #D96E1C;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
}
footer .info-box {
  
  padding: 15px;
  /* outline: 1px solid red; */
}
/************************  INDEX  *************************/

#index-container {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #26030D;
}

#index-container #image-top div {
  height: 20%;
}
#index-container #image-top div img {
  width: 100%;
  object-fit: cover;
}

#services-list  {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 3rem;
  margin-top: 25px;
  /* outline: 1px solid red; */
}

#services-list table {
  width: 100%;
  border-top: 10px dashed #DDD;
  border-bottom: 10px dashed #DDD;
  margin: 25px 0;
}
#services-list table td {
  font-size: 1.8rem;
  padding: 15px;
}

#services-list a {
  padding: 8px 25px ;
  cursor: pointer;
  background-color: #DDD;
  border-radius: 15px;
  border: 1px solid #CCC;
  color: #555;
  font-size: 1rem;
  text-align: center;
  
}

#services-list a:hover {
  border: 1px solid #D96E1C;
  background-color: #333;
  color: #D96E1C;
}


/************************  LOGIN  *************************/


#login-container,
#signup-container,
.booking-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #26030D;
}

#login-container form,
#signup-container form,
.booking-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  border: 1px solid #CCC;
  border-radius: 15px;
}

#login-container form label, 
#signup-container form label,
.booking-container form label {
  margin-bottom: 15px;
  width: 100%;
}

#login-container form input,
#signup-container form input {
  width: 100%;
  height: 30px;
  border: 1px solid #CCC;
  outline: none;
  border-radius: 10px;

}


/************************  BOOKING  *************************/

.booking-container  {
  width: 100%;
  background-color: #26030D;
  
}
.booking-container .services-details,
#edit-services-details {
  width: 100%;
  border: 1px solid #DDD;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 15px 15px;
}
.booking-container form label {
  margin-bottom: 5px;
}
.booking-container form input[type="date"],
.booking-container form input[type="time"],
.booking-container form input[type="number"],
.profile-info input {
  width: 100%;
  outline: none;
  width: 100%;
  height: 30px;
  border: 1px solid #DDD;
  outline: none;
  border-radius: 10px;
  padding: 5px;
}
.booking-container form textarea {
  outline: none;
}
.booking-container #services-container label {
  display: flex;
  justify-content: space-between;

}

.booking-container textarea {
  width: 100%;
  border: 1px solid #DDD;
  border-radius: 10px;
  padding: 10px;
  resize: none;
} 

.booking-container a {
  width: 100%;
  background-color: #DDD;
  border-radius: 13px;
  border: 1px solid #DDD;
  color: #555;
  text-align: center;
}
.booking-container button:hover {
  border: 1px solid #D96E1C;
  background-color: #333;
  color: #D96E1C;
}

/************************  EDIT BOOKING  *************************/
/* #edit-services-details {

} */

.booking-container button {
  width: 100%;
  padding: 8px 0 ;
  cursor: pointer;
  background-color: #DDD;
  border-radius: 15px;
  border: 1px solid #CCC;
  color: #555;
  font-size: 1rem;
  text-align: center;
  
  /* align-self: center; */
}
.booking-container a {
  padding: 3px 0 ;
  margin-top: 10px;
  font-size: 1.1rem;
  color: #555;
}
.booking-container a:hover {
  
  border: 1px solid #D96E1C;
  background-color: #333;
  color: #D96E1C;
  
}

/************************  PROFILE  *************************/
.profile-container {
  background-color: #26030D;
}

.profile-container,
#edit-profile-container {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;

}
.profile-container > h1,
.profile-mid h3 {
  align-self: center;
}
.profile-top {
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile-top .profile-info {
  height: 100%;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.3rem;
}
.profile-mid {
  height: 100%;
}
.profile-mid .pending-container,
.profile-mid .confirmed-container,
.profile-mid .past-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.profile-mid .pending-booking,
.profile-mid .confirmed-booking,
.profile-mid .past-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  border: 1px solid #DDD;
  border-radius: 15px;
  min-width: 200px;
}

.profile-mid .pending-booking > div,
.profile-mid .confirmed-booking > div,
.profile-mid .past-booking > div {
  width: 100%;
  margin-bottom: 5px;
}

.profile-top .profile-info a {
  font-size: 1.1rem;
  padding: 4px 25px ;
  cursor: pointer;
  background-color: #DDD;
  border-radius: 15px;
  border: 1px solid #DDD;
  color: #555;
  font-size: 1rem;
  text-align: center;
}

.profile-info a:hover {
  
  border: 1px solid #D96E1C;
  background-color: #333;
  color: #D96E1C;
  
}

.profile-mid .pending-booking a,
.profile-mid .confirmed-booking a {
  font-size: 1.2rem;
  width: 50%;
  padding: 5px 0;
  margin-right: 5px;
  text-decoration: underline;
  cursor: pointer;
  color: #999;
  align-self: center;
}

#edit-profile-container {
  height: 100%;
  background-color: #26030D;
  align-items: center;
}
#edit-profile-container .profile-top {
  padding: 15px;
  width: auto;
  border: 1px solid #DDD;
  border-radius: 15px;
}


@media(max-width: 768px) {
  header nav ul {
    justify-content: center;
  }
  footer{
    flex-direction: column;
    align-items: center;
  }
}

