/* #palettecolor {

  titles: #76323F;
  LIGTH bege: #D7CEC7;
  footer: #565656
  TAN: #C09F80
  
} */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

:root {
  font-size: 62, 5%;
}
* {
  box-sizing: border-box;
}
/************************  GENERAL  *************************/

button {
  padding: 10px 25px;
  cursor: pointer;
  background-color: #D7CEC7;
  border-radius: 15px;
  border: 1px solid #000;
  color: #000;
}
button:hover {
  border: 1px solid #76323F;
  background-color: #76323F;
  color: #D7CEC7;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
a:hover {
  color: #565656;
}

h1, h2, h3, h4, h5 {
  color: #76323F;
}
/*Makes arrows on input number hidden*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/************************  LAYOUT  *************************/

body {
  margin: 0 auto;
  font-size: 1, 6%;
  font-family: "Oswald", sans-serif;
  max-width: 1140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  background-color: #FFF;
}
header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #D7CEC7;
  color: #000;
}

header h4{
  margin-left: 15px;
  border: 5px solid #76323F;
  background-color: #C09F80;
  padding: 0 5;
}
header nav ul {
  padding-left: 0;
  display: flex;

}
.nav-li {
  list-style: none;
}
.nav-li-link {
  padding: 10px 15px;
  color: #76323F;
  text-transform: uppercase;
}
.nav-li-link:hover {
  color: #000;
}
footer {
  color: #000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #D7CEC7;
}
footer .info-box {
  height: 100%;
  width: 100%;
  padding: 15px;
  /* outline: 1px solid red; */
}
footer #map-container {
  border-left: 1px solid #76323F;
  border-right: 1px solid #76323F;
}
footer .info-box #map {
  height: 100%;
  width: 100%;
  padding: 15px;
}
/************************  INDEX  *************************/

#index-container {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C09F80;
}

#index-container #image-top div {
  height: 20%;
}
#index-container #image-top div img {
  width: 100%;
  object-fit: cover;
}

#services-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 3rem;
  margin: 30px 0;
  /* outline: 1px solid red; */
}

#services-list h3 {
  margin: 15px 0;
}

#services-list table {
  width: 100%;
  border-top: 10px dashed #76323F;
  border-bottom: 10px dashed #76323F;
  margin: 25px 0;
}

#services-list table td {
  font-size: 1.8rem;
  padding: 15px;
}

#services-list a {
  padding: 8px 25px;
  cursor: pointer;
  background-color: #D7CEC7;
  border-radius: 15px;
  border: 1px solid #565656;
  color: #000;
  font-size: 1rem;
  text-align: center;
}

#services-list a:hover {
  border: 1px solid #000;
  background-color: #76323F;
  color: #D7CEC7;
}

/************************  LOGIN  *************************/

#login-container,
#signup-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #C09F80;
}

#login-container form,
#signup-container form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15;
  padding: 15px;
  border: 1px solid #76323F;
  border-radius: 15px;

}
#login-container h2,
#signup-container h2 {
  margin: 15px;
}

#login-container form label,
#signup-container form label,
.booking-container form label {
  margin-bottom: 15px;
  width: 100%;
}

#login-container form input,
#signup-container form input {
  width: 100%;
  height: 30px;
  border: 1px solid #76323F;
  outline: none;
  border-radius: 10px;
  padding: 0 15px;
}

/************************  BOOKING  *************************/
.booking-container {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #C09F80;
}
.booking-container form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 5px #76323f;
}

.booking-container .services-details,
#edit-services-details {
  width: 100%;
  border: 1px solid #76323F;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 15px 15px;
}
.booking-container form label {
  margin-bottom: 5px;
}
.booking-container form input[type="date"],
.booking-container form input[type="time"],
.booking-container form input[type="number"],
.profile-info input,
#email-container form input[type="email"],
#email-container form input[type="text"]  {
  width: 100%;
  outline: none;
  width: 100%;
  height: 30px;
  border: 1px solid #76323F;
  outline: none;
  border-radius: 10px;
  padding: 5px;
}
.booking-container form textarea {
  outline: none;
}
.booking-container #services-container label {
  display: flex;
  justify-content: space-between;
}

.booking-container textarea,
#email-container form textarea  {
  width: 100%;
  border: 1px solid #76323F;
  border-radius: 10px;
  padding: 10px;
  resize: none;
}
.booking-container button {
  width: 100%;
}

.booking-container button:hover {
  border: 1px solid #000;
  background-color: #76323F;
  color: #D7CEC7;
}

/************************  EDIT BOOKING  *************************/

#edit-booking-form {
  padding: 50px;
}
/* #edit-booking-form label {
  display: flex;
  flex-direction: column;
} */

.booking-container a:hover {
  border: 1px solid #000;
  background-color: #76323F;
  color: #D7CEC7;
}

/************************  PROFILE  *************************/

.profile-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #C09F80;
}
#admin-profile-container {
  height: auto;
}

#edit-profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profile-container > h1,
.profile-mid h3 {
  align-self: center;
}
.profile-top {
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile-top .profile-info {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.3rem;
}
.profile-container #profile-messages {
  align-self: center;
}
.profile-mid .pending-container,
.profile-mid .confirmed-container,
.profile-mid .past-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.profile-mid .pending-booking,
.profile-mid .confirmed-booking,
.profile-mid .past-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  border: 1px solid #76323F;
  border-radius: 15px;
  min-width: 200px;
  background-color: #D7CEC7;
}

.profile-mid .pending-booking > div,
.profile-mid .confirmed-booking > div,
.profile-mid .past-booking > div {
  width: 100%;
  margin-bottom: 5px;
}

.profile-top .profile-info a {
  padding: 4px 25px;
  cursor: pointer;
  background-color: #D7CEC7;
  border-radius: 15px;
  border: 1px solid #000;
  color: #000;
  font-size: 0.9rem;
  text-align: center;
}

.profile-info a:hover {
  border: 1px solid #000;
  background-color: #76323F;
  color: #D7CEC7;
}

.profile-mid .pending-booking a,
.profile-mid .confirmed-booking a {
  font-size: 1.2rem;
  width: 50%;
  padding: 5px 0;
  margin-right: 5px;
  text-decoration: underline;
  cursor: pointer;
  color: #76323F;
  align-self: center;
}

/************************  EDIT PROFILE  *************************/

#edit-profile-container {
  height: 100%;
  background-color: #C09F80;
  align-items: center;
  padding-bottom: 30px;
}
#edit-profile-container .profile-top {
  padding: 15px;
  width: auto;
  border: 1px solid #76323F;
  border-radius: 15px;
}

#edit-profile-container form a {
  margin-top: 5px;
}

#edit-profile-container form a:hover {

  background-color: #76323F;
  color: #D7CEC7;
}

/************************  EMAIL  *************************/

#email-container {
  height: 100%;
  background-color: #C09F80;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

#email-booking-info, 
#email-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #76323F;
  border-radius: 15px;
  padding: 15px;
}

#email-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#email-container form button:hover {
  color: #D7CEC7;
}



/************************  MEDIA QUERIES  *************************/


@media (max-width: 768px) {
  header {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  header h4{
    margin-left: 0;
    margin-bottom: 0;
  }
  #services-list {
    font-size: 2rem;
    margin: 30px 0;
    /* outline: 1px solid red; */
  }
  .booking-container form,
  #email-booking-info {
    width: 300px;
  }
  #edit-booking-form {
    padding: 15px;
  }
  .profile-container {
    height: auto;
  }
  .profile-container .profile-top {
    padding: 15px;
    flex-direction: column-reverse;
  }
  #edit-profile-container .profile-top {
    flex-direction: column-reverse;
  }
  #email-container {
    height: auto;
    padding: 30px 0;
  }
  #email-form {
    width: 300px;
  }
  #login-container form, #signup-container form {
    width: 300px;
    margin: 30px 0;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer .info-box {
    min-height: 250px;
    text-align: center;
  }
  footer #map-container {
    padding: 0px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #76323F;
    border-bottom: 1px solid #76323F;
  }
}
